.loading {
	position: center;
	animation-name: rotate;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes fill {
	0% {
		width: 0%;
	}

	50% {
		width: 100%;
	}

	100% {
		width: 1%;
	}
}